@model List<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@Html.ActionLink("Add New Movie", "New", "Movies", null, new { @class = "btn btn-primary" })

<table id="movies" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Movies</th>
            <th>Genre</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var movieTable = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, row) {
                            return "<a href='/movies/edit/" + row.id + "'>" + row.name + "</a>";
                        }
                    },
                    {
                        data: "genreType.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button data-movie-id='" + data + "' class='btn-link js-delete'>Delete</button>";
                        }
                    }
                ]
            });

            $("#movies").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Do you want to delete this movie?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/movies/" + button.attr("data-movie-id"),
                            method: "DELETE",
                            success: function (results) {
                                movieTable.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}
